@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import "variables";

html,
body {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ddd !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 16px !important;
  color: #e8e8e8 !important;
  overflow-y: auto !important;
}

.App-Header {
  height: 65px;
  width: 100%;
}

.App-Body {
  height: calc(100% - 65px);
  width: 100%;
}

.Dashboard {
  height: 100%;

  &-Sidebar {
    width: 100%;
    height: 100%;
  }

  &-Container {
    width: 100%;
    height: 100%;
  }

  &-Sidenav {
    padding: 0px;
    width: 200px;
  }

  &-Sidenav-Content {
    display: flex;
    height: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}
