.header-height {
  height: 100%;
  background-color: #00334e;
}

.header-row {
  width: 100%;
  display: flex;
  align-items: center;

  .text {
    font-weight: normal;
    text-transform: uppercase;
    padding: 0 2rem;
    color: #e8e8e8;
  }
}
