<div class="Dashboard">
  <div class="App-Header">
    <app-header></app-header>
  </div>

  <div class="App-Body">
    <mat-drawer-container class="Dashboard-Container h-100" autosize>
      <mat-drawer #drawer class="Dashboard-Sidenav" mode="side" opened="true">
        <app-sidebar></app-sidebar>
      </mat-drawer>

      <div class="Dashboard-Sidenav-Content">
        <div class="Dashboard-Planet-Container">
          <mat-toolbar class="Dashboard-Planet-Searchbar">
            <mat-toolbar-row>
              <span class="Dashboard-Title">Planet List</span>
              <span class="example-spacer"></span>
              <i
                class="fa fa-eraser Dashboard-ClearFav"
                matTooltip="Clear Favorites"
                (click)="clearFav()"
              ></i>
              <mat-form-field class="search-input">
                <input
                  matInput
                  type="text"
                  placeholder="Search Planet By Name"
                  [(ngModel)]="searchTerm"
                />
                <button
                  mat-button
                  *ngIf="searchTerm"
                  matSuffix
                  mat-icon-button
                  aria-label="Clear"
                  (click)="searchTerm = ''"
                >
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </mat-toolbar-row>

            <!-- <span class="Dashboard-Title">Planet List</span>
            <mat-form-field class="search-input">
              <input
                matInput
                type="text"
                placeholder="Search Planet By Name"
                [(ngModel)]="searchTerm"
              />
              <button
                mat-button
                *ngIf="searchTerm"
                matSuffix
                mat-icon-button
                aria-label="Clear"
                (click)="searchTerm = ''"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-form-field> -->
          </mat-toolbar>

          <div class="Dashboard-Planet-Kpi">
            <div>
              <div class="row col-12 m-0">
                <div
                  class="col-12 col-sm-6 col-md-4 col-lg-3 p-2"
                  *ngFor="let planet of filteredPlanetList"
                >
                  <app-planet-kpi
                    [data]="planet"
                    [cursor]="true"
                    (MessageEvent)="receiveMessage($event)"
                  ></app-planet-kpi>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-container>
  </div>
</div>
